# ==============================================================================
# PRESCRIPTO BACKEND ENVIRONMENT CONFIGURATION
# ==============================================================================

PORT=4000

# MongoDB
MONGODB_URI=mongodb+srv://krushna:Krushna%4017@cluster0.vthjrvb.mongodb.net/prescripto?retryWrites=true&w=majority

# JWT
JWT_SECRET=ee889d5cce375133b038f49b4e85e5b5eab0840d89bb79f22ab9a7ca

# Admin
ADMIN_EMAIL=krushnachandran33@gmail.com
ADMIN_PASSWORD=Krushna@17

CLOUDINARY_NAME=Prescripto_updated
CLOUDINARY_API_KEY=865114555166143
CLOUDINARY_SECRET_KEY=xImf8sxHG8M_6EScGckoH5INp7c